body {
  --bg-white: rgb(255, 255, 255);

  margin: 0;
  font-family: "Dosis";
  font-size: 1rem;
  letter-spacing: 0.04em;

  --mediumGray: #f2f2f2;
  --orange: #fc6133;
  --green: #00b081;

  ::selection {
    background-color: #ddd;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 0.9rem;
  }
}

button {
  font-family: "Dosis";
}

@font-face {
  font-family: "Dosis";
  src: url(./assets/fonts/Dosis-Regular.ttf);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
